/* section */
section {
  padding: 3rem 1.5rem;
  margin-top: 70px;
}

/* 장바구니 > 주문결제 > 주문완료 */
.manageUseHeader {
  font-size: 20px;
  border-bottom: 1px solid #999;
  margin-bottom: 20px;
}
.managingOrderPage {
  font-size: 36px;
  font-weight: bold;
}

/* orderStatus */
.orderManageNav {
  display: flex;
  margin-bottom: 1.5rem;
}
.statusBox {
  flex-grow: 1;
  text-align: center;
}
.orderStatusHeader {
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #4a4a4a;
}
.orderStatus {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

/* orderSearch */
.orderSearch {
  background-color: #91684a;
  color: #fff;
  margin-top: 5rem;
  font-weight: bold;
}

.orderSearchHeaderBox {
  display: flex;
}
.orderSearchHeader {
  width: 16.66667%;
  padding: 0.75rem;
  text-align: center;
  border-radius: 4px;
}
.orderSearchHeaderBox > .orderSearchHeader:nth-child(2) {
  width: 33.33333%;
}

/* creatOrderInquiryWrapper */
.checkBar {
  width: 10%;
}

.creatOrderInquiryWrapper {
  display: flex;
  border-bottom: 1px solid #bbb;
}
.select {
  border-radius: 4px;
  height: 2.5em;
  border: 1px solid transparent;
  border-color: #dbdbdb;

  height: 3rem;

  text-align: center;
  font-size: 1rem;
}

.gettingReady {
  font-size: 1rem;
}

.delivering {
  font-size: 1rem;
}

.completion {
  font-size: 1rem;
}
.orderInfo {
  width: 16.66667%;
  padding: 0.75rem;
  text-align: center;
  color: #4a4a4a;
  vertical-align: middle;
  margin: auto;
}
.checkInfo {
  width: 10%;
  padding: 0.75rem;
  text-align: center;
  color: #4a4a4a;
  vertical-align: middle;
  margin: auto;
}
.orderInfo:nth-child(2) {
  width: 33.33333%;
}
.checkBtn {
  background-color: #fff;

  border-radius: 4px;
  box-shadow: none;
  font-size: 1em;
  border: 1px solid transparent;
  border-color: #dbdbdb;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3rem;
}
.cancleOrder {
  background-color: #fff;

  border-radius: 4px;
  box-shadow: none;
  font-size: 1em;
  border: 1px solid transparent;
  border-color: #dbdbdb;
  width: 60%;
  height: 3rem;
}

/* modal */
.open {
  display: block;
}
.hidden {
  display: none;
}
.modalBackground {
  background-color: rgba(10, 10, 10, 0.86);
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
}
.modalContent {
  width: 640px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 50%;

  z-index: 9999;
}
.modalContentBox {
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 6px;
}
.modalContentBox > p {
  text-align: center;
}
.checkBox {
  display: flex;
  justify-content: center;
}
.checkBox > button:first-of-type {
  margin-right: 0.5rem;
  background-color: #fff;
  border-color: #dbdbdb;
  margin-top: 1.5rem;
  border: 1px solid transparent;
  border-color: #dbdbdb;
  width: 3rem;
  height: 2rem;
}
.checkBox > button:last-child {
  background-color: #00d1b2;
  color: #fff;
  margin-top: 1.5rem;
  border-color: transparent;
  width: 3rem;
  height: 2rem;
}
.modalBtn {
  height: 32px;
  width: 32px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100000;
  border: none;
}
.scrollLock {
  overflow: hidden;
}
