<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./order-manage.css">
    <script src="../../navigation/navigation.js" type="module"></script>
    <link rel="stylesheet" href="../../navigation/navigation.css">
    <script src="./order-manage.js" type="module"></script>
</head>

<body>
    <header>
        <nav class="nav"></nav>
        <div class="menu">
            <div>
    </header>
    <section class="section" id="section">
        <div class="shoppingCartHeader">
            <p>
                <span class="shoppingCartChapter">주문관리</span>
            </p>
        </div>
        <nav class="orderManageNav">

            <div class="statusBox">
                <p class="orderStatusHeader">총주문수</p>
                <p class="orderStatus">123</p>
            </div>
            <div class="statusBox">
                <p class="orderStatusHeader">상품준비중</p>
                <p class="orderStatus">123</p>
            </div>
            <div class="statusBox">
                <p class="orderStatusHeader">상품배송중</p>
                <p class="orderStatus">123</p>
            </div>
            <div class="statusBox">
                <p class="orderStatusHeader">배송완료</p>
                <p class="orderStatus">123</p>
            </div>

        </nav>
        <div class="orderSearch">
            <div class="orderSearchHeaderBox">
                <div class="orderSearchHeader">날짜</div>
                <div class="orderSearchHeader">주문정보</div>
                <div class="orderSearchHeader">주문총액</div>
                <div class="orderSearchHeader">상태</div>
                <div class="orderSearchHeader">신청</div>
            </div>

        </div>
        <div class="creatOrderInquiryWrapper">
            <div class="orderInfo">20</div>
            <div class="orderInfo">222</div>
            <div class="orderInfo">22</div>
            <div class="orderInfo">
                <div>
                    <select name="" id="" class="select">
                        <option value="" class="gettingReady">상품준비중</option>
                        <option value="" class="delivering">상품배송중</option>
                        <option value="" class="
                        completion">배송완료</option>
                    </select>
                </div>
            </div>
            <div class="orderInfo">
                <button class="cencleOrder">주문취소</button>
            </div>
        </div>

        <div id="modal" class="hidden">
            <div class="modalBackground"></div>
            <div class="modalContent">
                <div class="modalContentBox">
                    <p>
                        주문 취소 시 복구할 수 없습니다. 정말로 취소하시겠습니까?
                    </p>
                    <div class="checkBox">
                        <button id="deleteCompleteButton">예</button>
                        <button id="deleteCancelButton">아니오</button>
                    </div>
                </div>
            </div>
            <button class="modalBtn" id="modalCloseButton">x</button>
        </div>
    </section>
</body>

</html>