<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>이상한 나라의 초콜릿</title>

    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="product-list.css" />
    <script src="product-list.js" type="module" defer></script>
    <script src="../navigation/navigation.js" type="module"></script>
    <link rel="stylesheet" href="../navigation/navigation.css" />
  </head>
  <body>
    <div class="container">
      <nav class="nav"></nav>
      <div class="menu"></div>

      <div class="productContainer">
        <div class="categorySlide">
          <ul class="categoryItems">
            <li class="category selectCategory allBtn">전체보기</li>
          </ul>
        </div>
        <div class="productOptionBar"></div>
        <div class="productList"></div>
      </div>

      <!-- footer -->
      <footer>
        <div class="footerLogo">
          <div class="logo">
            <!-- <img src="../imgs/logoImg.png" /> -->
          </div>
        </div>
        <div class="footerContent">
          <div>
            <p>주소: 부산시 연제구</p>
            <p>고객센터 이용약관 개인정보 방침</p>
            <p>ⓒ 2022 Team02 Enacho.All Rights Reserved.</p>
          </div>
        </div>
        <div class="footerLink">
          <div class="githubBtn"><a href=""></a></div>
          <div class="gitlabBtn">
            <a
              href="https://kdt-gitlab.elice.io/sw_track/class_02_busan/web_project/team2/shopping-mall"
            ></a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
