<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>

    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="product-list.css" />
    <script src="product-list.js" type="module" defer></script>
    <!-- <script src="../components/navigation.js" type="module"></script> -->
  </head>
  <body>
    <!-- 헤더 -->
    <div class="container">
      <nav class="nav">
        <div class="navbar-logo">
          <a class="navbar-brand" href="/">
            <i class="fas fa-cookie-bite"></i>
            <span class="has-text-link">쇼핑 데모</span>
          </a>
        </div>
        <div class="navbar">
          <ul class="navbar-items">
            <li><a href="../login/login.html">로그인</a></li>
            <li><a href="../register/register.html">회원가입</a></li>
            <li>
              <a href="/cart"> <i class="fas fa-cart-shopping"></i> 카트 </a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="productContainer">
        <div class="categorySlide">
          가로로 슬라이드
        </div>
        <div class="productOptionBar">
          <span>다크 초콜릿 (20)</span>
        </div>
        <div class="productList">
            <!-- <a href="#">
            <div class="itemName">페레로로쉐</div>
            <div class="itemPrice">13,500원</div>
          </a> -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
