<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>

    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="product-list.css" />
    <script src="product-list.js" type="module" defer></script>
    <script src="../navigation/navigation.js" type="module"></script>
    <link rel="stylesheet" href="../navigation/navigation.css" />
  </head>
  <body>
    <div class="container">
      <nav class="nav"></nav>
      <div class="menu"></div>

      <div class="productContainer">
        <div class="categorySlide">
          <ul class="categoryItems">
            <li class="category selectCategory allBtn">전체보기</li>
          </ul>
        </div>
        <div class="productOptionBar"></div>
        <div class="productList"></div>
      </div>
    </div>
  </body>
</html>
