* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav {
  background-color: white;
  position: fixed;
  width: 100%;

  top: 0;
  left: 0;
  z-index: 100;
}

.navbarLogo {
  float: left;
  width: 50%;
  padding: 25px 0 25px 50px;
}

.navbarBrand {
  color: black;
}

.navbarItems {
  float: left;
  width: 50%;
  padding: 25px 50px;
}

.navbarItems li {
  float: right;
  padding: 0 5px 0 30px;
}

ul.navbarItems a {
  float: left;
  list-style-type: none;
  color: black;
}
