/* section */
section {
  padding: 3rem 1.5rem;
}

/* 장바구니 > 주문결제 > 주문완료 */
.shoppingCartHeader {
  font-size: 20px;
  border-bottom: 1px solid #999;
  margin-bottom: 20px;
}
.shoppingCartHeader .shoppingCartChapter {
  font-size: 36px;
  font-weight: bold;
}

/* shoppingCartMainBox */
.shoppingCartMainBox {
  display: flex;
}

/* delivery */
.deliveryBox {
  width: 60%;
  height: 100%;

  height: 100%;
  background-color: #fff;
  border-radius: 6px;
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}
.deliveryInfoHeader {
  color: rgb(74, 74, 74);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 1.5rem;
  padding-left: 0.4rem;
}

.deliveryLabel {
  flex-basis: 7rem;
  flex-grow: 0;
  height: 3rem;
  line-height: 2rem;
  padding-left: 0.5rem;
  text-align: left;
}
.deliveryInputWrapper {
  flex-basis: 35rem;
  flex-grow: 0;
  height: 3rem;
}
.deliveryLabel label {
  font-weight: 700;
}
.deliveryInfo {
  display: flex;
  margin-bottom: 0.75rem;
  background-color: rgb(255, 255, 255);
  margin-bottom: 0.75rem;
  box-sizing: inherit;
}
.deliveryInput {
  border-radius: 4px;
  border: 1px solid;
  border-color: #b5b5b5;
  width: 100%;
  height: 100%;
  border-color: #dbdbdb;
  padding: 2%;
  font-size: 1rem;
}

.address {
  display: flex;
  flex-grow: 1;
}

.addressBtn {
  width: 64px;
  height: 32px;
}

#requestSelectBox {
  flex-basis: 35rem;
  flex-grow: 0;
  height: 3rem;
  color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  border-color: #dbdbdb;
  border-radius: 4px;
}
.selectOption {
  color: #000;
  font-size: 1.1rem;
}

/* payBpx */
.payBox {
  height: 350px;
  border-radius: 10px;
  background-color: #f0f5f7;
  padding: 10px;
  margin-left: auto;
  box-shadow: 1px 1px 10px rgba(10, 10, 10, 0.1);
  flex-grow: 1;
}

.payInfoHeader {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  font-size: 20px;
  margin: auto;
  border-bottom: 1px solid black;
}

.info {
  width: 250px;
  height: 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.payTotalPricePart {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  font-size: 20px;
  border-top: 1px solid black;
}

#buyButton {
  width: 90%;
  height: 60px;
  margin: 15px auto 0;
  color: #fff;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  line-height: 55px;
  border-radius: 10px;
  background-color: #3e8ed0;
  cursor: pointer;
}

.deleteIcon {
  position: relative;
  top: 0px;
  left: 0px;
  height: 30px;
  cursor: pointer;
}
