/* common */
p {
  margin: 20px 0;
}
button {
  width: 200px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin: 0 10px;
  cursor: pointer;
}
main {
  height: 800px;
}

/* section */
.productContainer {
  width: 1000px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* chocolate image */
#chocolate {
  margin-top: 60px;
  width: 500px;
  height: 500px;
}

/* detail information */
.detailedInfo {
  width: 500px;
  padding-top: 50px;
  position: relative;
  left: 30px;
}
#productName {
  font-size: 38px;
  font-weight: bold;
}
#price {
  font-size: 30px;
  font-weight: bold;
}
.priceContainer {
  font-size: 24px;
  position: absolute;
  left: 320px;
  top: 390px;
}
#productSummary {
  font-size: 18px;
}
#productDescription {
  font-size: 14px;
  color: #999;
}
.buttonGroup {
  position: absolute;
  top: 500px;
}
#addCart {
  background-color: #f4dfba;
}
#addCart:hover {
  background-color: #ffdf91;
}
#buyDirect {
  background-color: #91684a;
  color: #ffffff;
}
#buyDirect:hover {
  background-color: #493323;
}

@media screen and (max-width: 900px) {
  #chocolate {
    width: 400px;
    height: 400px;
    margin: auto;
  }
  .productContainer {
    width: 80vw;
    grid-template-columns: 1fr;
    margin: 50px auto;
  }

  .priceContainer {
    font-size: 24px;
    position: absolute;
    left: 320px;
    top: 290px;
  }
  .detailedInfo {
    width: 500px;
    position: relative;
    top: 50px;
    left: calc(50% - 250px);
  }

  .buttonGroup {
    position: absolute;
    top: 380px;
    left: calc(50% - 225px);
    margin-bottom: 100px;
  }
}

/* footer */
footer {
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 0;
  margin-top: 120px;
  background-color: #493323;
}

.footerLogo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30%;
  height: 100%;
}

.logo {
  background-image: url("/../imgs/logoImg.png");
  background-size: cover;
  width: 170px;
  height: 50px;
}

.footerContent {
  display: flex;
  align-items: center;
  height: 100%;
  width: 30%;
}

.footer {
  color: #c68b59;
  padding: 3px;
  font-size: 14px;
}

.footerLink {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  width: 40%;
}

.gitlabBtn {
  width: 40px;
  height: 40px;
  background-image: url("/../imgs/gitlabImg.png");
  background-size: cover;
  margin-right: 100px;
}

.gitlabBtn a {
  display: block;
  width: 40px;
  height: 40px;
}

.gitlabBtn:hover {
  width: 47px;
  height: 47px;
  transition: 0.5s;
}

@media screen and (max-width: 800px) {
  footer {
    bottom: 0;
    width: 100%;
    height: auto;
    /* margin-top: 100px; */
    flex-direction: column;
    background-color: #493323;
    padding: 20px 0;
  }
  .footerLogo {
    clear: left;
    width: 100%;
    margin: 20px 0;
  }
  .footerContent {
    width: 100%;
    clear: left;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px 0;
  }
  .footerLink {
    width: 100%;
    clear: left;
    justify-content: center;
    margin: 20px 0;
  }
  .gitlabBtn {
    margin-right: 0px;
  }
}
