<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>이상한 나라의 초콜릿</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../elice-rabbit-favicon.png"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="product-detail.css" />
    <script src="product-detail.js" type="module" defer></script>
    <script src="../navigation/navigation.js" type="module"></script>
    <link rel="stylesheet" href="../navigation/navigation.css" />
  </head>
  <body>
    <!-- 헤더 -->
    <div class="container">
      <nav class="nav"></nav>
        <div class="menu"><div>
    </div>

    <!-- 메인 -->
    <main role="main">
      <section>
        <img id="chocolate1" src="https://images.unsplash.com/photo-1623660053975-cf75a8be0908?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y2hvY29sYXRlfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="chocolate1">

        <div class="detailedInfo">
          <div id="productDetail">
            <p id="productName">밀크 초콜릿</p>
            <p><span id="price">2700</span>원</p>
            <p id="productDescription">고소하고 부드러운 우유와 카카오의 조화</p>
          </div>
          
          <div class="buttonGroup">
            <button id="addCart">장바구니 추가하기</button>
            <button id="buyDirect">바로 구매하기</button>
          </div>
        </div>

      </section>
    </main>
  </body>
</html>
