.registerFromContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.registerBox {
  margin-top: 80px;
  width: 25em;
}

.textInfo {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  padding-bottom: 20px;
}

.FormBox {
  border: 1px solid lightslategray;
  border-radius: 10px;
  padding: 20px;
}

.label {
  font-size: 19px;
  font-weight: 500;
}

.control {
  margin: 8px 0 25px 0;
}

.input {
  height: 42px;
  border-color: lightgray;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}

.registerBtn {
  width: 100%;
  height: 44px;
  border: none;
  border-radius: 10px;
  background-color: rgb(126, 118, 116);
  color: whitesmoke;
  font-size: 18px;
}
/* footer */
footer {
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 0;
	margin-top: 120px;
  background-color: #493323;
}

.footerLogo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30%;
  height: 100%;
}

.logo {
  background-image: url("../imgs/logoImg.png");
  background-size: cover;
  width: 170px;
  height: 50px;
}

.footerContent {
  display: flex;
  align-items: center;
  height: 100%;
  width: 30%;
}

p {
  color: #c68b59;
  padding: 3px;
  font-size: 14px;
}

.footerLink {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  width: 40%;
}

.gitlabBtn {
  width: 40px;
  height: 40px;
  background-image: url("../imgs/gitlabImg.png");
  background-size: cover;
  margin-right: 100px;
}

.gitlabBtn a {
  display: block;
  width: 40px;
  height: 40px;
}

.gitlabBtn:hover {
  width: 47px;
  height: 47px;
  transition: 0.5s;
}

@media screen and (max-width: 800px) {
  footer {
    bottom: 0;
    width: 100%;
    height: auto;
    /* margin-top: 100px; */
    flex-direction: column;
    background-color: #91684a;
    padding: 20px 0;
  }
  .footerLogo {
    clear: left;
    width: 100%;
    margin: 20px 0;
  }
  .footerContent {
    width: 100%;
    clear: left;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px 0;
  }
  .footerLink {
    width: 100%;
    clear: left;
    justify-content: center;
    margin: 20px 0;
  }
  .gitlabBtn {
    margin-right: 0px;
  }
}
