/* common */
main {
  width: 90vw;
  margin: 80px auto 30px;
}
img {
  width: 80px;
  margin: 10px;
  position: relative;
  top: 50px;
  left: 10px;
}
p {
  width: 130px;
  position: relative;
  top: -30px;
  left: 150px;
}
.menuContainer {
  margin: auto;
  width: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.managingOrder,
.managingUsers,
.addCategory,
.addProduct,
.modifyCategory,
.modifyProduct {
  width: 300px;
  height: 200px;
  /* background-color: #f4dfba; */
  box-shadow: 1px 1px 10px rgba(10, 10, 10, 0.1);
  border-radius: 10px;
  margin: 20px;
  transition-duration: 1s;
}

.managingOrder:hover,
.managingUsers:hover,
.addCategory:hover,
.addProduct:hover,
.modifyCategory:hover,
.modifyProduct:hover {
  box-shadow: 5px 5px 10px #91684a;
}

.name {
  font-weight: bold;
  position: relative;
  top: -50px;
  left: 150px;
}
