<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>이상한 나라의 초콜릿</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../elice-rabbit-favicon.png"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="managing-page.css" />
    <link rel="stylesheet" href="../navigation/navigation.css" />
    <script src="managing-page.js" type="module" defer></script>
    <script src="../navigation/navigation.js" type="module"></script>
  </head>
  <body>
    <!-- 헤더 -->
    <div class="container">
      <nav class="nav"></nav>
      <div class="menu"></div>
    </div>
    <main role="main">
      <div class="container">
        <h1>페이지 관리</h1>
        <hr />
        <div class="menuContainer">
          <div class="managingOrder">
            <div class="icon">
              <img src="./images/1.png" alt="managingOrder" />
            </div>
            <div class="name">주문 관리</div>
            <p>모든 주문 내역을 확인 및 관리할 수 있습니다.</p>
          </div>
          <div class="managingUsers">
            <div class="icon">
              <img src="./images/2.png" alt="user" />
            </div>
            <div class="name">회원 관리</div>
            <p>모든 회원 정보를 확인 및 관리할 수 있습니다.</p>
          </div>
          <div class="addCategory">
            <div class="icon">
              <img src="./images/3.png" alt="addCategory" />
            </div>
            <div class="name">카테고리 추가</div>
            <p>제품이 속할 수 있는, 카테고리 정보를 추가할 수 있습니다.</p>
          </div>
          <div class="addProduct">
            <div class="icon">
              <img src="./images/4.png" alt="addProduct" />
            </div>
            <div class="name">상품 추가</div>
            <p>제품 정보를 추가할 수 있습니다.</p>
          </div>
          <div class="modifyCategory">
            <div class="icon">
              <img src="./images/5.png" alt="addCategory" />
            </div>
            <div class="name">카테고리 수정</div>
            <p>
              제품이 속할 수 있는, 카테고리 정보를 수정하고 삭제할 수 있습니다.
            </p>
          </div>
          <div class="modifyProduct">
            <div class="icon">
              <img src="./images/6.png" alt="addProduct" />
            </div>
            <div class="name">상품 수정</div>
            <p>제품 정보를 수정하고 삭제할 수 있습니다.</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
