<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>이상한 나라의 초콜릿</title>
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <script src="recommend.js" type="module" defer></script>
    <link rel="stylesheet" href="home.css" />
    <script src="../navigation/navigation.js" type="module"></script>
    <link rel="stylesheet" href="../navigation/navigation.css" />
  </head>
  <body>
    <div class="container">
      <nav class="nav"></nav>
      <div class="menu"></div>

      <!-- 카테고리 선택 -->
      <div class="categoryBar">
        <ul class="categoryList">
          <li class="allBtn">전체보기</li>
          <li class="lotte">Lotte</li>
          <li class="milka">Milka</li>
          <li class="godiva">Godiva</li>
          <li class="guylian">Guylian</li>
        </ul>
      </div>

      <!-- Image Slider -->
      <div class="slider">
        <div class="slides">
          <div class="slide"><img src="../imgs/image1.jpg" /></div>
          <div class="slide"><img src="../imgs/image2.jpg" /></div>
          <div class="slide"><img src="../imgs/image3.jpg" /></div>
        </div>

        <div class="dots">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>

        <div class="arrow-container">
          <button class="arrow left" onclick="nextSlides(-1)">
            <i class="fa-solid fa-chevron-left fa-3x"></i>
          </button>
          <button class="arrow right" onclick="nextSlides(1)">
            <i class="fa-solid fa-chevron-right fa-3x"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- 상품 추천 container -->
    <div class="recommendContainer">
      <div class="recommendTitle">이 상품 어때요?</div>
      <div class="productList"></div>

      <div class="viewMore">상품 더 보러가기</div>
    </div>

    <!-- footer -->
    <footer>
      <div class="footerLogo">
        <div class="logo"></div>
      </div>
      <div class="footerContent">
        <div>
          <p>주소: 부산시 연제구</p>
          <p>고객센터 이용약관 개인정보 방침</p>
          <p>ⓒ 2022 Team02 Enacho.All Rights Reserved.</p>
        </div>
      </div>
      <div class="footerLink">
        <div class="githubBtn"><a href=""></a></div>
        <div class="gitlabBtn">
          <a
            href="https://kdt-gitlab.elice.io/sw_track/class_02_busan/web_project/team2/shopping-mall"
          ></a>
        </div>
      </div>
    </footer>

    <script src="home.js" type="text/javascript"></script>
    <script src="home.js" type="module" defer></script>
  </body>
</html>
